[mqtt]
user=
pass=
host=
port=1883
topic=rtl_433/weathersdr/devices/Fineoffset-WH24/42/temperature_C|*9/5+32
topic=rtl_433/weathersdr/devices/Fineoffset-WH24/42/humidity
topic=home_assistant/outside_conditions

[lcd]
port=/dev/serial/by-id/usb-Palm__Inc._Palm_Handheld_000000000000-if00-port1
baud=115200
display=$T $FF $D% $W

[font]
icon=icons/sun.bmp
icon=icons/cloud.bmp
icon=icons/rain.bmp
icon=icons/moon.bmp

[weather]
sun_icon=1
cloud_icon=2
rain_icon=3
moon_icon=4
